/* ================================= 
Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Tamma 2', 'cursive';
    line-height: 1.6;
    color: #3a3a3a;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

h2,
a {
    color: #093a58;
    text-align: center;
}

h2,
h3,
h4 {
    margin-top: 0;
}

h4 {
    margin-bottom: .4em;
}

h3 {
    color: #093a58;
    text-align: center;
    border-bottom: solid 6px black;
    margin-bottom: 1%;
}


/* ================================= 
Style inputs
==================================== */


/* Style inputs, select elements and textareas */

input[type=text],
input[type=tel],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

fieldset {
    border: white;
}

legend {
    border-top: solid black;
}


/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


/* Style the submit button */

input[type=submit] {
    background-color: #15bcc2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}

.flex-container:after {
    content: "";
    display: table;
    clear: both;
}


/* ================================= 
Media Queries
==================================== */

@media (min-width: 320px) {
    body,
    h1,
    .flex-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .main-header {
        color: white;
        justify-content: start;
        background-color: #093a58;
        justify-content: center;
        width: 100%;
    }
    .button {
        background-color: #15bcc2;
        text-align: center;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: center;
    }
}

@media (min-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
    .flex-item {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
}